@import "base/reset";
@import "base/body";
@import "common/headlines";
@import "imports/font-awesome";

body {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("background.jpg") no-repeat center center fixed;
	background-size: cover;
}

.content {
	width: 90%;
	max-width: 490px;
	margin: 0 auto;
}

.headline--featured {
	margin-top: 50px;
}

.headline--sub {
	margin-top: 10px;
}

.list {
	margin-top: 60px;

	&__item {
		clear: both;
		list-style: none;
		color: #fcfcfc;

		&:last-child {
			margin-bottom: 0;
		}

		&__description {
			float: right;
			width: calc(100% - 70px);
			font-size: 25px;
			line-height: 37px;
			font-weight: bold;
			margin-left: 40px;
			margin-bottom: 25px;
		}
	}
}


.fa {
	float: left;
	text-align: center;
	width: 30px;
	font-size: 2.2em;
	color: #fcfcfc;
}