.sponsor-list {
	width: 90%;
	max-width: 600px;
	margin: 20px auto 0 auto !important;

	li {
		width: 32%;
		margin-right: 2%;
		float: left;
		list-style: none;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	#sinner-schrader-logo {
		margin-top: 15px;
	}

	#jimdo-logo {

	}

	#finanz-check-logo {
		margin-top: 25px;
	}
}